@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  line-height: 1;
}

.d-flex {
  align-items: center;
}

.drop-down-opacity {
  opacity: 1 !important;
}

::-webkit-scrollbar {
  width: 3px;
  background: #34495E;
}

::-webkit-scrollbar-thumb {
  background: #D40A6C;
  border-radius: 5px;
}

.night-view {
  background: #0A0F1E;
}
.night-view .icon {
  background: linear-gradient(#0A0F1E, #0A0F1E);
  box-shadow: -3px -3px 4px #292727, 3px 4px 3px #000000;
}
.night-view b, .night-view p {
  color: #ffffff;
}
.night-view h3, .night-view h2, .night-view h1 {
  color: #5adaff;
}

.day-view {
  background: url(../../images/QeVXaw01.svg) repeat, linear-gradient(#EAEEF2, #EAEEF2);
  background-size: cover;
}
.day-view .icon {
  background: #EAEEF2;
  box-shadow: 4px 4px 4px rgba(78, 114, 223, 0.3882352941), -4px -4px 4px #ffffff;
}
.day-view b, .day-view p {
  color: #34495E;
}
.day-view h3, .day-view h2, .day-view h1 {
  color: #5468FF;
}

nav {
  background: #5468FF;
  padding: 8px 5px;
}
nav .container {
  position: relative;
  justify-content: space-between;
  align-items: center;
}
nav .container .logo {
  max-width: 120px;
}
nav .container .logo img {
  width: 100%;
}
nav .container .pages ul {
  display: flex;
  align-items: center;
}
nav .container .pages ul li {
  list-style-type: none;
}
nav .container .pages ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}
nav .container .profile-pic {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background: rgba(51, 51, 51, 0.1215686275);
  transition: 0.5s;
  justify-content: center;
  border: 5px solid #0A0F1E;
}
nav .container .profile-pic:active {
  transform: scale(0.8);
}
nav .container .profile-pic .inner {
  display: block;
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2342;
  justify-content: center;
}
nav .container .profile-pic .inner img {
  width: 100%;
}
nav .container .dropdown {
  position: static;
  right: 8px;
  top: 85px;
  transition: 0.3s;
  z-index: 99;
  display: none;
}
nav .container .dropdown ul {
  padding: 0;
  margin: 0;
}
nav .container .dropdown ul li {
  list-style: none;
  padding: 20px;
  color: #ffffff;
  transition: 0.5s;
}
nav .container .dropdown ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #ffffff;
}
nav .container .dropdown ul li a svg {
  width: 18px;
  fill: #ffffff;
  margin-right: 38px;
}
nav .container .dropdown ul li button {
  padding: 8px 25px;
  border: none;
  background: #0A0F1E;
  font-size: 14px;
  color: #ffffff;
  border-radius: 8px;
  transition: 0.1s;
}
nav .container .dropdown ul li button:active {
  transform: scale(80%);
}
nav .container .dropdown ul li .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 21px;
  margin-right: 13px;
}
nav .container .dropdown ul li .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
nav .container .dropdown ul li .switch input:checked + .slider {
  background-color: #EAEEF2;
}
nav .container .dropdown ul li .switch input:checked + .slider:before {
  transform: translateX(-17px);
}
nav .container .dropdown ul li .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0A0F1E;
  transition: 0.4s;
  border-radius: 20px;
}
nav .container .dropdown ul li .switch .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 21px;
  bottom: 3px;
  background-color: #5468FF;
  transition: 0.4s;
  border-radius: 50%;
}
nav .container .dropdown ul hr {
  color: #ffffff;
  margin: 0;
}

section.profile {
  min-height: calc(100vh - 145px);
}
section.profile .background {
  width: 100%;
  height: 240px;
  border-radius: 100% 0% 100% 0%/0% 30% 30% 100%;
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../../assests//slider-image-1.jpg) center center no-repeat;
  background-size: cover;
}
section.profile .profile-pic {
  position: relative;
  width: 150px;
  height: 150px;
  background: rgba(26, 19, 19, 0.8);
  margin: -80px 0 0 20px;
  overflow: hidden;
  justify-content: center;
  border: 4px solid #34495E;
}
section.profile .profile-pic::after {
  content: "";
  position: absolute;
  width: 280px;
  height: 50px;
  background: linear-gradient(transparent, #5adaff, #5adaff, #5adaff, transparent);
  animation: theAnim 25s linear infinite;
}
section.profile .profile-pic .inner {
  position: absolute;
  width: 135px;
  height: 135px;
  overflow: hidden;
  z-index: 45;
}
section.profile .profile-pic .inner img {
  width: 100%;
}
section.profile .name {
  margin: 5px 0 0 20px;
}
section.profile .name h2 {
  font-weight: 700;
}
section.profile .informations {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
  justify-content: space-around;
}
section.profile .informations .personal-info {
  width: 45%;
}
section.profile .informations .personal-info h3 {
  font-weight: 600;
}
section.profile .informations .personal-info .icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  justify-content: center;
  margin-right: 10px;
}
section.profile .informations .personal-info .icon svg {
  width: 50%;
  fill: #5468FF;
}
section.profile .informations .personal-info b {
  font-size: 18px;
}
section.profile .informations .personal-info .user-email svg {
  fill: #BD2130;
}
section.profile .informations .personal-info .phone-number svg {
  fill: #1E7E34;
}
section.profile .informations .personal-info .id svg {
  fill: #34495E;
}
section.profile .informations .personal-info .edit-profile button {
  padding: 16px 35px;
  border: none;
  background: linear-gradient(to right bottom, #D40A6C, #2196F3);
  color: #ffffff;
  border-radius: 30px;
  font-weight: 600;
}
section.profile .informations .personal-info .user-level svg {
  fill: #D40A6C;
}
section.profile .informations .personal-info .user-percentage svg {
  fill: #8043DC;
}
section.profile .informations .personal-info .user-group svg {
  fill: #2196F3;
}
section.profile .informations .about-us {
  width: 45%;
}
section.profile .informations .about-us h3 {
  font-weight: 600;
}
section.profile .informations .about-us p {
  font-weight: 500;
}

section.education-page {
  min-height: calc(100vh - 145px);
}
section.education-page .container .filter-tabs {
  padding: 60px 0 12px 0;
  display: flex;
  justify-content: center;
  gap: 8px;
  /* CSS */
}
section.education-page .container .filter-tabs .button-29 {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background: #5468FF;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s, background 0.15s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}
section.education-page .container .filter-tabs .button-29.active {
  box-shadow: #3c4fe0 0 5px 6px inset;
  transform: translateY(-5px);
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
}
section.education-page .container .filter-tabs .button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
}
section.education-page .container .filter-dropdown {
  /* Option styling */
}
section.education-page .container .filter-dropdown h5 {
  color: #ffffff;
  margin-top: 15px;
  font-weight: 600;
}
section.education-page .container .filter-dropdown select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #ffffff;
  padding: 12px 15px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  outline: none;
  font-weight: bold;
  text-align: center;
  background: #5468ff;
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  margin: auto;
  display: block;
}
section.education-page .container .filter-dropdown select {
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 18px;
}
section.education-page .container .filter-dropdown select option {
  background-color: #ffffff;
  color: #000000;
}
section.education-page .container .teacher-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 50px 0;
  gap: 2px;
}
section.education-page .container .teacher-wrapper .box {
  max-width: 180px;
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 4px 4px 4px #5adaff, -4px -4px 4px #5468FF, 4px -4px 4px #5adaff, -4px 4px 4px #5468FF;
  margin-bottom: 20px;
}
section.education-page .container .teacher-wrapper .box .photo {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}
section.education-page .container .teacher-wrapper .box .photo .online-status {
  position: absolute;
  display: flex;
  align-items: center;
  top: 15px;
  left: 15px;
}
section.education-page .container .teacher-wrapper .box .photo .online-status .text {
  font-size: 10px;
  font-weight: 700;
  margin-left: 2px;
}
section.education-page .container .teacher-wrapper .box .photo .online-status .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #34495E;
}
section.education-page .container .teacher-wrapper .box .photo .online-status.online .dot {
  background: #5468FF;
}
section.education-page .container .teacher-wrapper .box .photo img {
  width: 100%;
}
section.education-page .container .teacher-wrapper .box .info {
  padding: 12px 16px 12px 16px;
}
section.education-page .container .teacher-wrapper .box .info h3 {
  font-size: 16px;
  font-weight: 700;
  color: #5468FF;
}
section.education-page .container .teacher-wrapper .box .info span {
  font-size: 14px;
  font-weight: 800;
  display: block;
  margin-bottom: 5px;
}
section.education-page .container .teacher-wrapper .box .info .level {
  background: linear-gradient(to right, gold, #D40A6C, gold);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.education-page .container .teacher-wrapper .box .info button {
  width: 100%;
  padding: 12px 12px;
  background: #5468FF;
  border: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 4px 4px 8px #EAEEF2;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  transition: box-shadow 0.15s;
}
section.education-page .container .teacher-wrapper .box .info button.active {
  box-shadow: none;
}

.chat-page {
  height: calc(100vh - 145px);
}
.chat-page section.chat.people {
  height: 100%;
}
.chat-page section.chat .left-side {
  width: 30%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  background: #0A0F1E;
}
.chat-page section.chat .left-side::-webkit-scrollbar-thumb {
  background: #5adaff;
}
.chat-page section.chat .left-side .chat-list .chat-item {
  width: 100%;
  display: flex;
  padding: 14px;
  border-bottom: 1px solid #34495E;
}
.chat-page section.chat .left-side .chat-list .chat-item .profile-pic {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  position: relative;
}
.chat-page section.chat .left-side .chat-list .chat-item .profile-pic .onlinestatus {
  width: 15px;
  height: 15px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.chat-page section.chat .left-side .chat-list .chat-item .profile-pic .online {
  background: #5468FF;
}
.chat-page section.chat .left-side .chat-list .chat-item .profile-pic .offline {
  background: #34495E;
}
.chat-page section.chat .left-side .chat-list .chat-item .profile-pic .img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.chat-page section.chat .left-side .chat-list .chat-item .profile-pic .img img {
  width: 100%;
}
.chat-page section.chat .left-side .chat-list .chat-item .information {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.chat-page section.chat .left-side .chat-list .chat-item .information .name h4 {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 600;
}
.chat-page section.chat .left-side .chat-list .chat-item .information .last-message {
  font-weight: 500;
  font-size: 14px;
  color: rgba(185, 176, 176, 0.699);
}
.chat-page section.chat .left-side .chat-list .chat-item .information .last-message.new-message {
  color: #ffffff;
}
.chat-page section.chat .left-side .chat-list .chat-item.active {
  background: #34495E;
}
.chat-page section.chat .left-side .chat-list .chat-item.active .last-message {
  color: #ffffff;
}
.chat-page section.chat .left-side .chat-list .chat-item.active .name h4 {
  color: #5adaff;
}
.chat-page section.chat .left-side .inner .message {
  display: block;
}
.chat-page section.chat .chat-box {
  height: 100vh;
}
.chat-page section.chat .chat-box .conversation {
  height: calc(100% - 121px);
  overflow-y: scroll;
}
.chat-page section.chat .chat-box .conversation::-webkit-scrollbar-thumb {
  background: #5adaff;
}
.chat-page section.chat .chat-box .conversation .all-message {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: 100%;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message, .chat-page section.chat .chat-box .conversation .all-message .incoming-message {
  width: auto;
  display: flex;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message .info .name span, .chat-page section.chat .chat-box .conversation .all-message .incoming-message .info .name span {
  display: block;
  font-weight: 700;
  font-size: 12px;
  color: #5adaff;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message .info .photo, .chat-page section.chat .chat-box .conversation .all-message .incoming-message .info .photo {
  width: 130px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message .info .photo:hover, .chat-page section.chat .chat-box .conversation .all-message .incoming-message .info .photo:hover {
  opacity: 0.7;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message .info .photo img, .chat-page section.chat .chat-box .conversation .all-message .incoming-message .info .photo img {
  width: 100%;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message .info .message, .chat-page section.chat .chat-box .conversation .all-message .incoming-message .info .message {
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 22px;
  font-size: 12px;
  font-weight: 700;
  margin-top: 1px;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message .info .audio, .chat-page section.chat .chat-box .conversation .all-message .incoming-message .info .audio {
  width: 150px;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message .info .audio audio, .chat-page section.chat .chat-box .conversation .all-message .incoming-message .info .audio audio {
  display: block;
  width: 100%;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message .info .audio audio source, .chat-page section.chat .chat-box .conversation .all-message .incoming-message .info .audio audio source {
  border-radius: 0px;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message {
  justify-content: end;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message .message {
  border-radius: 40px 0px 0px 40px;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message.first-in-group {
  margin-top: 10px;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message.first-in-group .message {
  border-radius: 40px 40px 0px 40px;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message.last-in-group .message {
  border-radius: 40px 0px 40px 40px;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message.first-in-group.last-in-group .message {
  border-radius: 40px 0px 0px 40px;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message .info {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message .info .message {
  background: #5468FF;
  color: #ffffff;
}
.chat-page section.chat .chat-box .conversation .all-message .incoming-message {
  justify-content: start;
}
.chat-page section.chat .chat-box .conversation .all-message .incoming-message .message {
  border-radius: 0px 40px 40px 0px;
}
.chat-page section.chat .chat-box .conversation .all-message .incoming-message.first-in-group {
  margin-top: 10px;
}
.chat-page section.chat .chat-box .conversation .all-message .incoming-message.first-in-group .message {
  border-radius: 40px 40px 40px 0px;
}
.chat-page section.chat .chat-box .conversation .all-message .incoming-message.last-in-group .message {
  border-radius: 0px 40px 40px 40px;
}
.chat-page section.chat .chat-box .conversation .all-message .incoming-message.first-in-group.last-in-group .message {
  border-radius: 0px 40px 40px 0px;
}
.chat-page section.chat .chat-box .conversation .all-message .incoming-message .image {
  width: 35px;
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  border: 3px solid #5adaff;
}
.chat-page section.chat .chat-box .conversation .all-message .incoming-message .image img {
  width: 100%;
}
.chat-page section.chat .chat-box .conversation .all-message .incoming-message .name {
  margin: 0 0 0 15px;
}
.chat-page section.chat .chat-box .conversation .all-message .incoming-message .message {
  color: #ffffff;
  background: #34495E;
}
.chat-page section.chat .chat-box .conversation .all-message .incoming-message .feedback {
  float: right;
}
.chat-page section.chat .chat-box .conversation .all-message .incoming-message .feedback button {
  border: none;
  background: none;
  transition: 3s;
}
.chat-page section.chat .chat-box .conversation .all-message .incoming-message .feedback button:hover {
  transform: translateY(-1000px);
}
.chat-page section.chat .chat-box .conversation .all-message .incoming-message .feedback .love svg {
  color: #2196F3;
}
.chat-page section.chat .chat-box .conversation .all-message .incoming-message .feedback .dislike svg {
  color: #5468FF;
}
.chat-page section.chat .chat-box .conversation .last-message {
  margin: 3px 12px 12px 0;
}
.chat-page section.chat .chat-box .conversation .last-message span {
  display: block;
  font-size: 9px;
  color: #5adaff;
  font-style: italic;
  margin-top: 12px;
}
.chat-page section.chat .chat-box .conversation .uploading {
  text-align: right;
}
.chat-page section.chat .chat-box .conversation .uploading span {
  color: #ffffff;
  font-size: 10px;
}
.chat-page section.chat .chat-box .typing-area {
  padding: 10px 0;
  justify-content: center;
  border-top: 1px solid #5468FF;
  background: #5468FF;
}
.chat-page section.chat .chat-box .typing-area button.voice-message {
  background: none;
  border: none;
}
.chat-page section.chat .chat-box .typing-area .select-image, .chat-page section.chat .chat-box .typing-area .send, .chat-page section.chat .chat-box .typing-area .select-video, .chat-page section.chat .chat-box .typing-area .voice-message {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-content: center;
}
.chat-page section.chat .chat-box .typing-area .select-image:hover, .chat-page section.chat .chat-box .typing-area .send:hover, .chat-page section.chat .chat-box .typing-area .select-video:hover, .chat-page section.chat .chat-box .typing-area .voice-message:hover {
  background: rgba(250, 250, 250, 0.2);
}
.chat-page section.chat .chat-box .typing-area .select-image svg, .chat-page section.chat .chat-box .typing-area .send svg, .chat-page section.chat .chat-box .typing-area .select-video svg, .chat-page section.chat .chat-box .typing-area .voice-message svg {
  width: 13px;
  fill: #ffffff;
}
.chat-page section.chat .chat-box .typing-area form {
  width: 80%;
  gap: 3px;
}
.chat-page section.chat .chat-box .typing-area form .inbox {
  width: 90%;
}
.chat-page section.chat .chat-box .typing-area form .inbox textarea {
  width: 100%;
  padding: 14px 18px;
  border-radius: 25px;
  font-size: 12px;
  font-weight: 700;
  border: none;
  min-width: 0;
  overflow-y: auto;
  overflow-x: auto;
}
.chat-page section.chat .chat-box .typing-area form .inbox textarea:focus {
  outline: none;
}
.chat-page section.chat .chat-box .typing-area form input[type=submit] {
  margin-left: 5px;
  background: none;
  border: none;
  outline: none;
}
.chat-page section.chat .chat-box .typing-area form input[type=submit]:hover {
  background: rgba(250, 250, 250, 0.2);
}
.chat-page section.chat .chat-box .popup {
  position: fixed;
  bottom: 60px;
  left: 100px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.chat-page section.chat .chat-box .close-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.chat-page section.chat .chat-box .close-btn svg {
  font-size: 15px;
  fill: #000;
}
.chat-page section.chat .chat-box .popup-image {
  width: 80px;
  height: auto;
}
.chat-page section.chat .chat-box .open-btn {
  background-color: blue;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

section.subscription {
  min-height: calc(100vh - 146px);
}
section.subscription .container .title h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}
section.subscription .container .inner-details {
  padding: 150px 0;
}
section.subscription .container .inner-details .package-card {
  background: rgba(15, 15, 30, 0.9);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 380px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.3s ease-in-out;
  box-shadow: 0 4px 20px rgba(0, 198, 255, 0.4);
  margin: auto;
}
section.subscription .container .inner-details .package-card .section {
  padding: 15px;
  margin: 10px 0;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.08);
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
section.subscription .container .inner-details .package-card .section p {
  margin-bottom: 0;
}
section.subscription .container .inner-details .package-card .section.time-remaining p {
  color: #FFD700;
  text-shadow: 0px 0px 10px rgba(255, 215, 0, 0.8);
}
section.subscription .container .inner-details .package-card .title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #5adaff;
  margin-bottom: 5px;
}
section.subscription .container .inner-details .package-card .value {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0.5px;
}
section.subscription .container .packages {
  justify-content: space-evenly;
}
section.subscription .container .packages .pack {
  max-width: 350px;
  width: 350px;
  padding: 55px 35px;
  margin-bottom: 35px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(22, 42, 102, 0.3882352941), -2px -2px 4px #34495E, 2px -2px 4px rgba(22, 42, 102, 0.3882352941), -2px 2px 4px #34495E;
}
section.subscription .container .packages .pack .name {
  margin-bottom: 20px;
}
section.subscription .container .packages .pack .name h4 {
  font-weight: 700;
  font-size: 25px;
  color: #5adaff;
}
section.subscription .container .packages .pack ul {
  padding: 0;
}
section.subscription .container .packages .pack ul li {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 4px;
  list-style-type: none;
}
section.subscription .container .packages .pack ul li span {
  color: #5adaff;
}
section.subscription .container .packages .pack .coupon-link button {
  background: none;
  border: none;
  outline: none;
  color: #D40A6C;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
}
section.subscription .container .packages .pack .coupon-link button:hover {
  text-decoration: underline;
}
section.subscription .container .packages .pack .procceed {
  margin-top: 4px;
}
section.subscription .container .packages .pack .procceed button {
  padding: 10px 45px;
  background: linear-gradient(to right bottom, #2196F3, #D40A6C);
  border: none;
  color: #ffffff;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  transition: 0.5s;
}
section.subscription .container .packages .pack .procceed button:active {
  transform: scale(80%);
}
section.subscription .container .packages .pack:last-child .name h4 {
  background: linear-gradient(to right, gold, #D40A6C, gold);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.subscription .container .packages .pack:last-child span.success {
  background: linear-gradient(to right, gold, #D40A6C);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes theAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@media screen and (min-width: 701px) {
  nav .mobile-nav {
    display: none;
  }
  nav .pc-nav {
    margin-right: 25px;
  }
  nav .pc-nav ul {
    margin: 0;
  }
  nav .pc-nav ul li {
    padding: 3px;
    z-index: 1;
    list-style-type: none;
    border-radius: 15px;
  }
  nav .pc-nav ul li a {
    inset: 12px;
    display: block;
    padding: 15px 15px;
    transition: 1s;
    color: #ffffff;
    border-radius: 4px;
  }
  nav .pc-nav ul li a:hover {
    background: linear-gradient(to right bottom, #5adaff, #8043DC);
    transform: scale(1.2);
  }
}
@media screen and (max-width: 700px) {
  section.chat .topper {
    background: #5468FF;
    padding: 10px;
  }
  section.chat .topper .container .left .back-btn {
    margin-right: 10px;
  }
  section.chat .topper .container .left .back-btn a svg {
    width: 16px;
    fill: #fff;
  }
  section.chat .topper .container .left .user-profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
  }
  section.chat .topper .container .left .user-profile img {
    width: 100%;
  }
  section.chat .topper .container .call-audio button, section.chat .topper .container .call-video button {
    border: none;
    background: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 5px;
  }
  section.chat .topper .container .call-audio button:hover, section.chat .topper .container .call-video button:hover {
    background: rgba(250, 250, 250, 0.2);
  }
  section.chat .topper .container .call-audio button svg, section.chat .topper .container .call-video button svg {
    width: 16px;
    fill: #ffffff;
  }
  section.chat .chat-box {
    width: 100%;
  }
  section.chat .chat-box .conversation {
    height: calc(100% - 121px);
  }
  section.chat .left-side {
    width: 100% !important;
  }
  .modal-content {
    width: 100%;
  }
  .pages {
    z-index: 10;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background: #5468FF;
  }
  .pages ul {
    margin: 0 auto;
    padding: 0;
    justify-content: space-around;
    align-items: center;
  }
  .pages ul li {
    margin: 0;
  }
  .pages ul li.number-of-unseen-chats {
    position: relative;
  }
  .pages ul li.number-of-unseen-chats .number-box {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #0A0F1E;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    top: 10px;
    z-index: 20;
  }
  .pages ul li.number-of-unseen-chats .number-box b.number {
    color: #ffffff;
    font-size: 10px;
  }
  .pages ul li a {
    position: relative;
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-out;
  }
  .pages ul li a svg {
    font-size: 25px;
    fill: #ffffff;
  }
  .pages ul li a::before {
    content: "";
    position: absolute;
    background: transparent;
    width: 20px;
    height: 20px;
    top: 50%;
    left: -22px;
    border-top-right-radius: 20px;
    transition: 0.4s;
  }
  .pages ul li a::after {
    content: "";
    position: absolute;
    background: transparent;
    width: 20px;
    height: 20px;
    top: 50%;
    right: -22px;
    border-top-left-radius: 20px;
    transition: 0.7s;
  }
  .pages ul li a.active::after {
    box-shadow: -1px -10px #EAEEF2;
  }
  .pages ul li a.active::before {
    box-shadow: 1px -10px #EAEEF2;
  }
  .pages ul li a.active {
    transform: translateY(-35px);
    background: linear-gradient(to right bottom, #D40A6C, #2196F3);
    border: 6px solid #EAEEF2;
  }
  .profile .informations {
    width: 90%;
    margin: auto;
  }
  .profile .informations .personal-info, .profile .informations .about-us {
    width: 100% !important;
    margin-bottom: 50px;
  }
  .pc-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  .shadow-fix li a.active::after {
    box-shadow: -1px -10px #0A0F1E !important;
  }
  .shadow-fix li a.active::before {
    box-shadow: 1px -10px #0A0F1E !important;
  }
  .shadow-fix li a.active {
    border-color: #0A0F1E !important;
  }
}
.ripple-effect {
  position: relative;
  overflow: hidden; /* Ensures the ripple stays inside the button */
}

.ripple-effect::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  animation: ripple-animation 0.6s linear;
  pointer-events: none;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
/* Whiteboard Full-Screen Style */
#whiteboard-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#whiteboard-container #toolbar {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.whiteboard-area {
  width: 100%;
  height: 100%;
}

.close-whiteboard {
  position: absolute;
  top: 20px;
  right: 30px;
  padding: 10px 20px;
  background-color: #ff4757;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.close-whiteboard:hover {
  background-color: #e84141;
}

/* CSS */
.call-ui-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Full screen height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50;
}
.call-ui-container .call-card {
  width: 90%;
  max-width: 600px;
  min-width: 500px;
  background: #212121;
  color: #ffffff;
  border-radius: 16px;
  padding: 90px 0px 70px 0px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%; /* Adjusted to fit screen nicely */
}
.call-ui-container .call-header {
  font-size: 16px;
  color: #4E73DF;
  margin-bottom: 5px;
}
.call-ui-container .caller-name {
  font-size: 28px;
  font-weight: bold;
  color: #4E73DF;
}
.call-ui-container .call-duration {
  font-size: 16px;
  color: #ccc;
  margin: 25px 0 10px; /* Spacing around duration */
}
.call-ui-container .status {
  color: #BD2130;
  font-weight: 600;
}
.call-ui-container .call-actions {
  gap: 10px;
  margin-top: auto;
}
.call-ui-container .end-call-button {
  background-color: #BD2130;
  border-radius: 8px;
  width: 150px;
  font-size: 20px;
  color: #fff;
  border: none;
  margin-bottom: 6px;
  padding: 6px;
}
.call-ui-container .end-call-button svg {
  font-size: 25px;
}
.call-ui-container .whiteboard-button {
  background-color: #5468FF;
  border: none;
  border-radius: 8px;
  width: 200px;
  padding: 14px 20px;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: block;
  margin: auto;
}
.call-ui-container .end-call-button:hover, .call-ui-container .whiteboard-button:hover, .call-ui-container .accept-reject button:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=general.css.map */