@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  line-height: 1;
}

.d-flex {
  align-items: center;
}

.drop-down-opacity {
  opacity: 1 !important;
}

::-webkit-scrollbar {
  width: 3px;
  background: #34495E;
}

::-webkit-scrollbar-thumb {
  background: #D40A6C;
  border-radius: 5px;
}

.night-view {
  background: #02031b;
}
.night-view .icon {
  background: linear-gradient(#02031b, #02031b);
  box-shadow: -3px -3px 4px #292727, 3px 4px 3px #000000;
}
.night-view b, .night-view p {
  color: #ffffff;
}
.night-view h3, .night-view h2, .night-view h1 {
  color: #54FFFB;
}

.day-view {
  background: url(../../images/QeVXaw01.svg) repeat, linear-gradient(#EAEEF2, #EAEEF2);
  background-size: cover;
}
.day-view .icon {
  background: #EAEEF2;
  box-shadow: 4px 4px 4px rgba(78, 114, 223, 0.3882352941), -4px -4px 4px #ffffff;
}
.day-view b, .day-view p {
  color: #34495E;
}
.day-view h3, .day-view h2, .day-view h1 {
  color: #4E73DF;
}

nav {
  background: #4E73DF;
  padding: 8px 5px;
}
nav .container {
  position: relative;
  justify-content: space-between;
  align-items: center;
}
nav .container .logo {
  width: 160px;
}
nav .container .logo img {
  width: 100%;
}
nav .container .pages ul {
  display: flex;
  align-items: center;
}
nav .container .pages ul li {
  list-style-type: none;
}
nav .container .pages ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}
nav .container .dropdown {
  position: absolute;
  right: 10px;
  top: 80px;
  width: 250px;
  background: #4E73DF;
  box-shadow: 8px 8px 16px rgba(78, 114, 223, 0.3882352941);
  transition: 0.3s;
  z-index: 978986;
  opacity: 0;
}
nav .container .dropdown ul {
  padding: 0;
  margin: 0;
}
nav .container .dropdown ul li {
  list-style: none;
  padding: 20px;
  color: #ffffff;
  transition: 0.5s;
}
nav .container .dropdown ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #ffffff;
}
nav .container .dropdown ul li a svg {
  width: 18px;
  fill: #ffffff;
  margin-right: 38px;
}
nav .container .dropdown ul li .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 21px;
  margin-right: 13px;
}
nav .container .dropdown ul li .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
nav .container .dropdown ul li .switch input:checked + .slider {
  background-color: #EAEEF2;
}
nav .container .dropdown ul li .switch input:checked + .slider:before {
  transform: translateX(-17px);
}
nav .container .dropdown ul li .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #02031b;
  transition: 0.4s;
  border-radius: 20px;
}
nav .container .dropdown ul li .switch .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 21px;
  bottom: 3px;
  background-color: #4E73DF;
  transition: 0.4s;
  border-radius: 50%;
}
nav .container .dropdown ul hr {
  color: #ffffff;
  margin: 0;
}
nav .container .profile-pic {
  position: relative;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  background: rgba(51, 51, 51, 0.1215686275);
  transition: 0.5s;
  justify-content: center;
}
nav .container .profile-pic::after {
  content: "";
  position: absolute;
  width: 65px;
  height: 55px;
  background: linear-gradient(transparent, #54FFFB, #54FFFB, #54FFFB, transparent);
  animation: theAnim 20s linear infinite;
}
nav .container .profile-pic:hover {
  transform: scale(1.2);
}
nav .container .profile-pic:active {
  transform: scale(0.8);
}
nav .container .profile-pic .inner {
  display: block;
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2342;
  justify-content: center;
}
nav .container .profile-pic .inner img {
  width: 100%;
}

section.profile .background {
  width: 100%;
  height: 400px;
  border-radius: 100% 0% 100% 0%/0% 50% 50% 100%;
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../../images/profile-bg.jpg) center center no-repeat;
  background-size: cover;
}
section.profile .profile-pic {
  position: relative;
  width: 200px;
  height: 200px;
  background: rgba(26, 19, 19, 0.8);
  transition: 0.5s;
  margin: -150px auto 0 auto;
  overflow: hidden;
  justify-content: center;
}
section.profile .profile-pic::after {
  content: "";
  position: absolute;
  width: 290px;
  height: 100px;
  background: linear-gradient(transparent, #54FFFB, #54FFFB, #54FFFB, transparent);
  animation: theAnim 3.5s linear infinite;
}
section.profile .profile-pic .inner {
  position: absolute;
  width: 190px;
  height: 190px;
  overflow: hidden;
  z-index: 345;
}
section.profile .profile-pic .inner img {
  width: 100%;
}
section.profile .name {
  margin-top: 5px;
}
section.profile .name h2 {
  text-align: center;
  font-weight: 700;
}
section.profile .informations {
  display: flex;
  flex-wrap: wrap;
  padding: 80px 0;
  justify-content: space-around;
}
section.profile .informations .personal-info {
  width: 45%;
}
section.profile .informations .personal-info h3 {
  font-weight: 600;
}
section.profile .informations .personal-info .icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  justify-content: center;
  margin-right: 10px;
}
section.profile .informations .personal-info .icon svg {
  width: 50%;
  fill: #4E73DF;
}
section.profile .informations .personal-info b {
  font-size: 18px;
}
section.profile .informations .personal-info .user-email svg {
  fill: #BD2130;
}
section.profile .informations .personal-info .phone-number svg {
  fill: #1E7E34;
}
section.profile .informations .personal-info .id svg {
  fill: #34495E;
}
section.profile .informations .personal-info .edit-profile button {
  padding: 16px 35px;
  border: none;
  background: linear-gradient(to right bottom, #D40A6C, #2196F3);
  color: #ffffff;
  border-radius: 30px;
  font-weight: 600;
}
section.profile .informations .personal-info .user-level svg {
  fill: #D40A6C;
}
section.profile .informations .personal-info .user-percentage svg {
  fill: #8043DC;
}
section.profile .informations .personal-info .user-group svg {
  fill: #2196F3;
}
section.profile .informations .about-us {
  width: 45%;
}
section.profile .informations .about-us h3 {
  font-weight: 600;
}
section.profile .informations .about-us p {
  font-weight: 500;
}

section.education-page {
  min-height: calc(100% - 81px);
}
section.education-page .container {
  padding: 80px 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
section.education-page .container .box {
  width: 200px;
  max-width: 200px;
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 4px 4px 4px #54FFFB, -4px -4px 4px #4E73DF, 4px -4px 4px #54FFFB, -4px 4px 4px #4E73DF;
  margin-bottom: 40px;
}
section.education-page .container .box .photo {
  width: 100%;
  overflow: hidden;
}
section.education-page .container .box .photo.teacher {
  height: 200px;
}
section.education-page .container .box .photo img {
  z-index: 1;
  width: 100%;
}
section.education-page .container .box .info {
  padding: 14px;
}
section.education-page .container .box .info h3 {
  font-size: 20px;
  font-weight: 700;
  color: #4E73DF;
}
section.education-page .container .box .info span {
  font-size: 14px;
  font-weight: 800;
  display: block;
  margin-bottom: 5px;
}
section.education-page .container .box .info .level {
  background: linear-gradient(to right, gold, #D40A6C, gold);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.education-page .container .box .info button {
  padding: 12px 20px;
  background: #4E73DF;
  border: none;
  color: #ffffff;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 4px 4px 8px #EAEEF2;
}

.chat-page {
  height: 100vh;
}
.chat-page section.chat.people {
  height: calc(100% - 81px);
}
.chat-page section.chat .left-side {
  width: 30%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  background: #02031b;
}
.chat-page section.chat .left-side::-webkit-scrollbar-thumb {
  background: #54FFFB;
}
.chat-page section.chat .left-side .chat-list .chat-item {
  width: 100%;
  display: flex;
  padding: 14px;
  border-bottom: 1px solid #34495E;
}
.chat-page section.chat .left-side .chat-list .chat-item .img {
  width: 50px;
  height: 50%;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.chat-page section.chat .left-side .chat-list .chat-item .img img {
  width: 100%;
}
.chat-page section.chat .left-side .chat-list .chat-item .information {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.chat-page section.chat .left-side .chat-list .chat-item .information .name h4 {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 600;
}
.chat-page section.chat .left-side .chat-list .chat-item .information .last-message {
  font-weight: 500;
  font-size: 14px;
  color: rgba(185, 176, 176, 0.699);
}
.chat-page section.chat .left-side .chat-list .chat-item .information .last-message.new-message {
  color: #ffffff;
}
.chat-page section.chat .left-side .chat-list .chat-item.active {
  background: #34495E;
}
.chat-page section.chat .left-side .chat-list .chat-item.active .last-message {
  color: #ffffff;
}
.chat-page section.chat .left-side .chat-list .chat-item.active .name h4 {
  color: #54FFFB;
}
.chat-page section.chat .chat-box {
  height: 100vh;
}
.chat-page section.chat .chat-box .conversation {
  height: calc(100% - 114px);
  overflow-y: scroll;
}
.chat-page section.chat .chat-box .conversation::-webkit-scrollbar-thumb {
  background: #54FFFB;
}
.chat-page section.chat .chat-box .conversation .all-message {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: 100%;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message, .chat-page section.chat .chat-box .conversation .all-message .incoming-message {
  width: auto;
  display: flex;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message .info .name span, .chat-page section.chat .chat-box .conversation .all-message .incoming-message .info .name span {
  display: block;
  font-weight: 700;
  font-size: 12px;
  color: #54FFFB;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message .info .photo, .chat-page section.chat .chat-box .conversation .all-message .incoming-message .info .photo {
  width: 130px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message .info .photo:hover, .chat-page section.chat .chat-box .conversation .all-message .incoming-message .info .photo:hover {
  opacity: 0.7;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message .info .photo img, .chat-page section.chat .chat-box .conversation .all-message .incoming-message .info .photo img {
  width: 100%;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message .info .message, .chat-page section.chat .chat-box .conversation .all-message .incoming-message .info .message {
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 22px;
  font-size: 12px;
  font-weight: 700;
  margin-top: 1px;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message .info .audio, .chat-page section.chat .chat-box .conversation .all-message .incoming-message .info .audio {
  width: 150px;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message .info .audio audio, .chat-page section.chat .chat-box .conversation .all-message .incoming-message .info .audio audio {
  display: block;
  width: 100%;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message .info .audio audio source, .chat-page section.chat .chat-box .conversation .all-message .incoming-message .info .audio audio source {
  border-radius: 0px;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message {
  justify-content: end;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message .message {
  border-radius: 40px 0px 0px 40px;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message.first-in-group {
  margin-top: 10px;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message.first-in-group .message {
  border-radius: 40px 40px 0px 40px;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message.last-in-group .message {
  border-radius: 40px 0px 40px 40px;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message.first-in-group.last-in-group .message {
  border-radius: 40px 0px 0px 40px;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message .info {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.chat-page section.chat .chat-box .conversation .all-message .my-message .info .message {
  background: #4E73DF;
  color: #ffffff;
}
.chat-page section.chat .chat-box .conversation .all-message .incoming-message {
  justify-content: start;
}
.chat-page section.chat .chat-box .conversation .all-message .incoming-message .message {
  border-radius: 0px 40px 40px 0px;
}
.chat-page section.chat .chat-box .conversation .all-message .incoming-message.first-in-group {
  margin-top: 10px;
}
.chat-page section.chat .chat-box .conversation .all-message .incoming-message.first-in-group .message {
  border-radius: 40px 40px 40px 0px;
}
.chat-page section.chat .chat-box .conversation .all-message .incoming-message.last-in-group .message {
  border-radius: 0px 40px 40px 40px;
}
.chat-page section.chat .chat-box .conversation .all-message .incoming-message.first-in-group.last-in-group .message {
  border-radius: 0px 40px 40px 0px;
}
.chat-page section.chat .chat-box .conversation .all-message .incoming-message .image {
  width: 35px;
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  border: 3px solid #54FFFB;
}
.chat-page section.chat .chat-box .conversation .all-message .incoming-message .image img {
  width: 100%;
}
.chat-page section.chat .chat-box .conversation .all-message .incoming-message .name {
  margin: 0 0 0 15px;
}
.chat-page section.chat .chat-box .conversation .all-message .incoming-message .message {
  color: #ffffff;
  background: #34495E;
}
.chat-page section.chat .chat-box .conversation .all-message .incoming-message .photo {
  margin-left: 15px;
}
.chat-page section.chat .chat-box .conversation .last-message {
  margin: 3px 12px 12px 0;
}
.chat-page section.chat .chat-box .conversation .last-message span {
  display: block;
  font-size: 9px;
  color: #54FFFB;
  font-style: italic;
}
.chat-page section.chat .chat-box .conversation .uploading {
  text-align: right;
}
.chat-page section.chat .chat-box .conversation .uploading span {
  color: #ffffff;
  font-size: 10px;
}
.chat-page section.chat .chat-box .typing-area {
  padding: 8px 0;
  justify-content: center;
  border-top: 1px solid #4E73DF;
  background: #4E73DF;
}
.chat-page section.chat .chat-box .typing-area button.voice-message {
  background: none;
  border: none;
}
.chat-page section.chat .chat-box .typing-area .select-image, .chat-page section.chat .chat-box .typing-area .send, .chat-page section.chat .chat-box .typing-area .select-video, .chat-page section.chat .chat-box .typing-area .voice-message {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-content: center;
}
.chat-page section.chat .chat-box .typing-area .select-image:hover, .chat-page section.chat .chat-box .typing-area .send:hover, .chat-page section.chat .chat-box .typing-area .select-video:hover, .chat-page section.chat .chat-box .typing-area .voice-message:hover {
  background: rgba(250, 250, 250, 0.2);
}
.chat-page section.chat .chat-box .typing-area .select-image svg, .chat-page section.chat .chat-box .typing-area .send svg, .chat-page section.chat .chat-box .typing-area .select-video svg, .chat-page section.chat .chat-box .typing-area .voice-message svg {
  width: 13px;
  fill: #ffffff;
}
.chat-page section.chat .chat-box .typing-area form {
  gap: 3px;
}
.chat-page section.chat .chat-box .typing-area form .inbox {
  max-width: 80%;
}
.chat-page section.chat .chat-box .typing-area form .inbox input {
  width: 100%;
  padding: 10px 18px;
  border-radius: 25px;
  font-size: 11px;
  font-weight: 700;
  border: none;
}
.chat-page section.chat .chat-box .typing-area form .inbox input:focus {
  outline: none;
}
.chat-page section.chat .chat-box .typing-area form input[type=submit] {
  margin-left: 5px;
  background: none;
  border: none;
  outline: none;
}
.chat-page section.chat .chat-box .typing-area form input[type=submit]:hover {
  background: rgba(250, 250, 250, 0.2);
}

section.subscription .container .title h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}
section.subscription .container .packages {
  justify-content: space-evenly;
}
section.subscription .container .packages .pack {
  max-width: 350px;
  width: 350px;
  padding: 55px 35px;
  margin-bottom: 35px;
  border-radius: 15px;
  box-shadow: -2px -2px 4px #292727, 2px 2px 8px #000000;
}
section.subscription .container .packages .pack .name {
  margin-bottom: 20px;
}
section.subscription .container .packages .pack .name h4 {
  font-weight: 700;
  font-size: 25px;
  color: #54FFFB;
}
section.subscription .container .packages .pack ul li {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 4px;
}
section.subscription .container .packages .pack ul li span {
  color: #54FFFB;
}
section.subscription .container .packages .pack .coupon-link {
  margin-left: 16px;
}
section.subscription .container .packages .pack .coupon-link a {
  text-decoration: none;
  color: #D40A6C;
  font-size: 14px;
  font-weight: 600;
}
section.subscription .container .packages .pack .coupon-link a:hover {
  text-decoration: underline;
}
section.subscription .container .packages .pack .procceed {
  padding: 20px 0 0 0;
}
section.subscription .container .packages .pack .procceed button {
  padding: 14px 65px;
  background: linear-gradient(to right bottom, #D40A6C, #2196F3);
  border: none;
  border-radius: 25px;
  margin-left: 16px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}
section.subscription .container .packages .pack:last-child .name h4 {
  background: linear-gradient(to right, gold, #D40A6C, gold);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.subscription .container .packages .pack:last-child span.success {
  background: linear-gradient(to right, gold, #D40A6C);
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes theAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@media screen and (min-width: 701px) {
  nav .mobile-nav {
    display: none;
  }
  nav .pc-nav {
    margin-right: 25px;
  }
  nav .pc-nav ul {
    margin: 0;
  }
  nav .pc-nav ul li {
    padding: 3px;
    z-index: 1;
    list-style-type: none;
    border-radius: 15px;
  }
  nav .pc-nav ul li a {
    inset: 12px;
    display: block;
    padding: 15px 15px;
    transition: 1s;
    color: #ffffff;
    border-radius: 4px;
  }
  nav .pc-nav ul li a:hover {
    background: linear-gradient(to right bottom, #54FFFB, #8043DC);
    transform: scale(1.2);
  }
}
@media screen and (max-width: 700px) {
  section.chat .topper {
    background: #4E73DF;
    padding: 10px;
  }
  section.chat .topper .container .left .back-btn {
    margin-right: 10px;
  }
  section.chat .topper .container .left .back-btn a svg {
    width: 16px;
    fill: #fff;
  }
  section.chat .topper .container .left .user-profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
  }
  section.chat .topper .container .left .user-profile img {
    width: 100%;
  }
  section.chat .topper .container .call-audio button, section.chat .topper .container .call-video button {
    border: none;
    background: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 5px;
  }
  section.chat .topper .container .call-audio button:hover, section.chat .topper .container .call-video button:hover {
    background: rgba(250, 250, 250, 0.2);
  }
  section.chat .topper .container .call-audio button svg, section.chat .topper .container .call-video button svg {
    width: 16px;
    fill: #ffffff;
  }
  section.chat .chat-box {
    width: 100%;
  }
  section.chat .chat-box .conversation {
    height: calc(100% - 122px);
  }
  section.chat .left-side {
    width: 100% !important;
  }
  .modal-content {
    width: 100%;
  }
  .pages {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background: #4E73DF;
  }
  .pages ul {
    margin: 0 auto;
    padding: 0;
    justify-content: space-around;
    align-items: center;
  }
  .pages ul li {
    margin: 0;
  }
  .pages ul li a {
    position: relative;
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: center;
    border-radius: 50%;
    transition: 0.2s ease-out;
  }
  .pages ul li a svg {
    width: 25px;
    fill: #ffffff;
  }
  .pages ul li a::before {
    content: "";
    position: absolute;
    background: transparent;
    width: 20px;
    height: 20px;
    top: 50%;
    left: -22px;
    border-top-right-radius: 20px;
    transition: 0.4s;
  }
  .pages ul li a::after {
    content: "";
    position: absolute;
    background: transparent;
    width: 20px;
    height: 20px;
    top: 50%;
    right: -22px;
    border-top-left-radius: 20px;
    transition: 0.7s;
  }
  .pages ul li.active:hover a::after {
    box-shadow: -1px -10px #EAEEF2;
  }
  .pages ul li.active:hover a::before {
    box-shadow: 1px -10px #EAEEF2;
  }
  .pages ul li.active a {
    transform: translateY(-35px);
    background: linear-gradient(to right bottom, #D40A6C, #2196F3);
    border: 6px solid #EAEEF2;
  }
  .profile .informations {
    width: 90%;
    margin: auto;
  }
  .profile .informations .personal-info, .profile .informations .about-us {
    width: 100% !important;
    margin-bottom: 50px;
  }
  .pc-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  .shadow-fix li.active a::after {
    box-shadow: -1px -10px #02031b !important;
  }
  .shadow-fix li.active a::before {
    box-shadow: 1px -10px #02031b !important;
  }
  .shadow-fix li.active a {
    border-color: #02031b !important;
  }
}
.ripple-effect {
  position: relative;
  overflow: hidden; /* Ensures the ripple stays inside the button */
}

.ripple-effect::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  animation: ripple-animation 0.6s linear;
  pointer-events: none;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}/*# sourceMappingURL=general.css.map */