@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
// basic setup
$white: #ffffff;
$blue: #4E73DF;
$shadow: #162a6663;
$background: #EAEEF2;
$night-background: #02031b;
$red: #BD2130;
$purple: #8043DC;
$lt-blue: #54FFFB;
$d-blue: #2196F3;
$pinkish: #D40A6C;
$green: #1E7E34;
$gray: #34495E;


section.complain{
    padding: 60px 0 80px 0;
    background: $night-background;
    min-height: calc(100vh - 145px);
        form.complain-form {
            max-width: 400px;
            margin: auto;
            padding: 20px ;
            background: #1E1E1E;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            h2 {
              text-align: center;
              color: $white;
              margin-bottom: 15px;
            }
          
            input,
            textarea {
              border: none;
              width: 100%;
              padding: 10px;
              margin-bottom: 15px;
              border-radius: 5px;
              font-size: 16px;
              transition: border 0.3s;
              background: rgba(255, 255, 255, 0.08);
              &:focus {
                border-color: $d-blue;
                outline: none;
              }
            }
          
            span {
              display: block;
              margin-bottom: 5px;
              font-size: 14px;
              color: #666;
            }
          
            input[type="file"] {
              padding: 5px;
              border: none;
              background: rgba(255, 255, 255, 0.08);
              color: #666;
            }
          
            input[type="submit"] {
              background: $d-blue;
              color: white;
              font-weight: bold;
              cursor: pointer;
              transition: background 0.3s;
          
              &:hover {
                background: $blue;
              }
            }
          }
          
    

    .view-complains{
      h3{
        color: $white;
      }
        margin-top: 50px;
        ul{
            max-width: 100%;
            padding: 0;
            li{
                list-style-type: none;
                padding: 15px 40px;
                color: #fff;
                background: $gray;
                border-radius: 50px;
                h5{
                    font-size: 16px;
                    margin-bottom: 0;
                }
                p{
                    font-size: 12px;
                    margin-bottom: 0;
                }
                .actions{
                    button{
                        border: none;
                        width: 30px;
                        height: 30px;
                        outline: none;
                        border-radius: 50%;
                        margin: 5px;
                        &.edit{
                            background: $blue;
                        }
                        &.delete{
                            background: $red;
                        }
                        &.view{
                            background: $green;
                        }
                        svg{
                            fill: #fff;
                        }
                    }
                }
            }
        }
    }
}