section.complain{
    form.complain-form{
        margin: auto;
        max-width: 600px;
        padding: 50px;
        input,textarea{
            width: 100%;
            display: block;
            margin-bottom: 10px;
        }
    }

    .view-complains{
        ul{
            li{
                list-style-type: none;
                padding: 15px 20px;
                border: 1px solid black;

                h5{
                    font-size: 16px;
                    margin-bottom: 0;
                }
                p{
                    font-size: 12px;
                    margin-bottom: 0;
                }
            }
        }
    }
}