@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
// basic setup
$gray: #34495E;
$orange: #FF834F;
$white: #ffffff;
$blue: #4E73DF;
$shadow: #4e72df63;
$background: #EEF2F7;
$red: #BD2130;
$purple: #8043DC;
$lt-blue: #039DEB;
$pinkish: #D40A6C;
*{
    font-family: 'Poppins', sans-serif;
    line-height: 1;
}
.d-flex{
    align-items: center;
}
// basic setup


// common setup
nav{
    background: $blue;
    padding: 8px 5px;
    .container{
        justify-content: space-between;
        align-items: center;
        .logo{
            width: 140px;
            img{
                width: 100%;
            }
        }
        .profile-pic{
            width: 50px;
            height: 50px;
            overflow: hidden;
            border-radius: 50%;
            border: 3px solid $white;
            img{
                width: 100%;
            }

        }
        .pages{
            margin-right: 25px;
            ul{
                display: flex;
                align-items: center;
                margin: 0;
                li{
                    list-style-type: none;                    
                    a{
                        text-decoration: none;
                        font-weight: 600;
                        font-size: 14px;
                        transition: 0.2s ease-out;                 
                    }
                }
            }
        }
    }
}


// Responsive

@media only screen and (min-width: 601px) {
    nav{
        .mobile-nav{
            display: none;
        }
        .pc-nav{
            li{
                padding: 3px;
                overflow: hidden;
                z-index: 1;
                list-style-type: none;
                a{
                    inset: 12px;
                    display: block;
                    padding: 15px 15px;
                    color: $white;
                    border-radius: 4px;
                    &:hover{
                        background: $pinkish;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .pages{
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        background: $blue;
        ul{
            width: 100%;
            padding: 0;
            justify-content: space-around;
            max-width: 500px;
            margin-left: 0;
            align-items: center;
            li{
                margin: 0;
                &:hover a::after{
                    box-shadow: -1px -10px $white;
                }
                &:hover a::before{
                    box-shadow: 1px -10px $white;
                }
                &:hover{
                    a{
                        transform: translateY(-35px);
                        background: linear-gradient(to right bottom, $pinkish, $blue);
                        border: 6px solid $white;
                    }
                } 
                a{
                    position: relative;
                    display: flex;
                    width: 70px;
                    height: 70px;
                    justify-content: center;
                    border-radius: 50%;
                    svg{
                        width: 25px;
                        fill: $white;
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        background: transparent;
                        width: 20px;
                        height: 20px;
                        top: 50%;
                        left: -22px;
                        border-top-right-radius: 20px;
                        transition: 0.4s;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        background: transparent;
                        width: 20px;
                        height: 20px;
                        top: 50%;
                        right: -22px;
                        border-top-left-radius: 20px;
                        transition: 0.7s;
                    }
                    &:hover::after{
                        box-shadow: -1px -10px $white;
                    }
                }
            }
            .indicator{
                position: relative;
            }
        }
    }
    .pc-nav{
        display: none;
      }
    .mobile-nav{
        display: block;
    }
}
// Responsive

// common setup
