@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  line-height: 1;
}

.d-flex {
  align-items: center;
}

nav {
  background: #4E73DF;
  padding: 8px 5px;
}
nav .container {
  justify-content: space-between;
  align-items: center;
}
nav .container .logo {
  width: 160px;
}
nav .container .logo img {
  width: 100%;
}
nav .container .profile-pic {
  position: relative;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  background: rgba(51, 51, 51, 0.1215686275);
  transition: 0.5s;
  justify-content: center;
}
nav .container .profile-pic::after {
  content: "";
  position: absolute;
  width: 65px;
  height: 45px;
  background: linear-gradient(transparent, #54FFFB, #54FFFB, #54FFFB, transparent);
  animation: theAnim 20s linear infinite;
}
nav .container .profile-pic:hover {
  transform: scale(1.2);
}
nav .container .profile-pic .inner {
  display: block;
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2342;
  justify-content: center;
}
nav .container .profile-pic .inner img {
  width: 100%;
}
nav .container .pages ul {
  display: flex;
  align-items: center;
}
nav .container .pages ul li {
  list-style-type: none;
}
nav .container .pages ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

section.profile {
  background: #EAEEF2;
}
section.profile .background {
  width: 100%;
  height: 400px;
  -webkit-clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
          clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../../images/profile-bg.jpg) center center no-repeat;
  background-size: cover;
}
section.profile .profile-pic {
  position: relative;
  width: 200px;
  height: 200px;
  background: rgba(26, 19, 19, 0.8);
  transition: 0.5s;
  margin: -150px auto 0 auto;
  overflow: hidden;
  justify-content: center;
}
section.profile .profile-pic::after {
  content: "";
  position: absolute;
  width: 290px;
  height: 100px;
  background: linear-gradient(transparent, #54FFFB, #54FFFB, #54FFFB, transparent);
  animation: theAnim 3.5s linear infinite;
}
section.profile .profile-pic .inner {
  position: absolute;
  width: 190px;
  height: 190px;
  overflow: hidden;
  z-index: 345;
}
section.profile .profile-pic .inner img {
  width: 100%;
}
section.profile .name {
  margin-top: 5px;
}
section.profile .name h2 {
  text-align: center;
  color: #4E73DF;
  font-weight: 700;
}
section.profile .informations {
  display: flex;
  flex-wrap: wrap;
  padding: 80px 0;
  justify-content: space-around;
}
section.profile .informations .personal-info {
  width: 45%;
}
section.profile .informations .personal-info h3 {
  color: #4E73DF;
  font-weight: 600;
}
section.profile .informations .personal-info .icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #EAEEF2;
  justify-content: center;
  margin-right: 10px;
  box-shadow: 4px 4px 4px rgba(78, 114, 223, 0.3882352941), -4px -4px 4px #ffffff;
}
section.profile .informations .personal-info .icon svg {
  width: 50%;
  fill: #4E73DF;
}
section.profile .informations .personal-info b {
  font-size: 18px;
  color: #34495E;
}
section.profile .informations .personal-info .user-email svg {
  fill: #BD2130;
}
section.profile .informations .personal-info .phone-number svg {
  fill: #1E7E34;
}
section.profile .informations .personal-info .id svg {
  fill: #34495E;
}
section.profile .informations .personal-info .edit-profile button {
  padding: 16px 35px;
  border: none;
  background: linear-gradient(to right bottom, #D40A6C, #039DEB);
  color: #ffffff;
  border-radius: 30px;
  font-weight: 600;
}
section.profile .informations .about-us {
  width: 45%;
}
section.profile .informations .about-us h3 {
  color: #4E73DF;
  font-weight: 600;
}
section.profile .informations .about-us p {
  font-weight: 500;
}

@keyframes theAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@media only screen and (min-width: 701px) {
  nav .mobile-nav {
    display: none;
  }
  nav .pc-nav {
    margin-right: 25px;
  }
  nav .pc-nav ul {
    margin: 0;
  }
  nav .pc-nav ul li {
    padding: 3px;
    z-index: 1;
    list-style-type: none;
    border-radius: 15px;
  }
  nav .pc-nav ul li a {
    inset: 12px;
    display: block;
    padding: 15px 15px;
    transition: 1s;
    color: #ffffff;
    border-radius: 4px;
  }
  nav .pc-nav ul li a:hover {
    background: linear-gradient(to right bottom, #54FFFB, #8043DC);
    transform: scale(1.2);
  }
}
@media only screen and (max-width: 700px) {
  .pages {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background: #4E73DF;
  }
  .pages ul {
    margin: 0 auto;
    padding: 0;
    justify-content: space-around;
    align-items: center;
  }
  .pages ul li {
    margin: 0;
  }
  .pages ul li:hover a::after {
    box-shadow: -1px -10px #ffffff;
  }
  .pages ul li:hover a::before {
    box-shadow: 1px -10px #ffffff;
  }
  .pages ul li:hover a {
    transform: translateY(-35px);
    background: linear-gradient(to right bottom, #D40A6C, #039DEB);
    border: 6px solid #ffffff;
  }
  .pages ul li a {
    position: relative;
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: center;
    border-radius: 50%;
    transition: 0.2s ease-out;
  }
  .pages ul li a svg {
    width: 25px;
    fill: #ffffff;
  }
  .pages ul li a::before {
    content: "";
    position: absolute;
    background: transparent;
    width: 20px;
    height: 20px;
    top: 50%;
    left: -22px;
    border-top-right-radius: 20px;
    transition: 0.4s;
  }
  .pages ul li a::after {
    content: "";
    position: absolute;
    background: transparent;
    width: 20px;
    height: 20px;
    top: 50%;
    right: -22px;
    border-top-left-radius: 20px;
    transition: 0.7s;
  }
  .pages ul li a:hover::after {
    box-shadow: -1px -10px #ffffff;
  }
  .informations .about-us, .informations .personal-info {
    width: 100%;
  }
  .pc-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
}/*# sourceMappingURL=after-login.css.map */