@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
// basic setup
$white: #ffffff;
$blue: #4E73DF;
$shadow: #4e72df63;
$background: #EAEEF2;
$night-background: #02031b;
$red: #BD2130;
$purple: #8043DC;
$lt-blue: #54FFFB;
$d-blue: #2196F3;
$pinkish: #D40A6C;
$green: #1E7E34;
$gray: #34495E;


// border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
*{
    font-family: 'Poppins', sans-serif;
    line-height: 1;
}
.d-flex{
    align-items: center;
}
.drop-down-opacity{
    opacity: 1 !important;
}
::-webkit-scrollbar{
    width: 5px;
    background: $gray;
}
::-webkit-scrollbar-thumb{
    background: $pinkish;
    border-radius: 5px;
}


.night-view{
    background: $night-background;
    .icon{
        background: url(../../images/bg.svg) no-repeat, linear-gradient($night-background, $night-background);
        box-shadow: -3px -3px 4px #292727, 3px 4px 3px #000000;
    }
    b, p{
        color: $white;
    }
    h3, h2, h1{
        color: $lt-blue;
    }
}
.day-view{
    background: url(../../images/QeVXaw01.svg) repeat, linear-gradient($background, $background);
    .icon{
        background: $background;
        box-shadow: -3px -3px 4px #292727, 3px 4px 3px #000000;
    }
    b, p{
        color: $gray;
    }
    h3, h2, h1{
        color: $blue;
    }
}
// basic setup


// common setup
nav{
    background: $blue;
    padding: 8px 5px;
    .container{
        position: relative;
        justify-content: space-between;
        align-items: center;
        .logo{
            width: 160px;
            img{
                width: 100%;
            }
        }
        .pages{
            ul{
                display: flex;
                align-items: center;
                li{
                    list-style-type: none;                    
                    a{
                        text-decoration: none;
                        font-weight: 600;
                        font-size: 16px;
                    }
                }
            }
        }
        .dropdown{
            right: 10px;
            position: absolute;
            top: 80px;
            background: $blue;
            box-shadow: 8px 8px 16px $shadow;
            transition: 0.3s;
            z-index: 978986;
            opacity: 0;
            ul{
                padding: 0;
                margin: 0;
                li{
                    list-style: none;
                    padding: 20px 25px;
                    color: $white;
                    transition: 0.5s;
                    &:hover{
                        background: $gray;
                    }
                    a{
                        text-decoration: none;
                        display: flex;
                        align-items: end;
                        color: $white;
                        svg{
                            width: 15px;
                            fill: $white;
                            margin-right: 10px;
                        }
                    }

                    .switch {
                        position: relative;
                        display: inline-block;
                        width: 40px;
                        height: 21px;
                    }

                    .switch input { 
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }

                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: $background;
                        -webkit-transition: .4s;
                        transition: .4s;
                        border-radius: 20px;
                    }

                    .slider:before {
                        position: absolute;
                        content: "";
                        height: 15px;
                        width: 15px;
                        left: 4px;
                        bottom: 3px;
                        background-color: $d-blue;
                        -webkit-transition: .4s;
                        transition: .4s;
                        border-radius: 50%;
                    }

                    input:checked + .slider {
                        background-color: $night-background;
                    }

                    input:focus + .slider {
                        box-shadow: 0 0 1px $d-blue;
                    }
                    input:checked + .slider:before {
                        -webkit-transform: translateX(17px);
                        -ms-transform: translateX(17px);
                        transform: translateX(17px);
                    }
                }
                hr{
                    color: $white;
                    margin: 0;
                }
            }
        }
        .profile-pic{
            position: relative;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            overflow: hidden;
            background: #3333331f;
            transition: 0.5s;
            justify-content: center;
            &::after{
                content: '';
                position: absolute;
                width: 65px;
                height: 45px;
                background: linear-gradient(transparent,$lt-blue,$lt-blue,$lt-blue, transparent);
                animation: theAnim 20s linear infinite;
            }
            &:hover{
                transform: scale(1.2);
            }
            &:active{
                transform: scale(0.8);
            }
            .inner{
                display: block;
                position: absolute;
                width: 55px;
                height: 55px;
                border-radius: 50%;
                overflow: hidden;
                z-index: 2342;
                justify-content: center;
                img{
                    width: 100%;
                }
            }

        }
    }
}
// common setup


// profile page
section.profile{
    background-size: cover;
    .background{
        width: 100%;
        height: 400px;
        clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
        background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),url(../../images/profile-bg.jpg) center center no-repeat;
        background-size: cover;
    }
    .profile-pic{
        position: relative;
        width: 200px;
        height: 200px;
        background: #1a1313cc;
        transition: 0.5s;
        margin: -150px auto 0 auto;
        overflow: hidden;
        justify-content: center;
        &::after{
            content: '';
            position: absolute;
            width: 290px;
            height: 100px;
            background: linear-gradient(transparent,$lt-blue ,$lt-blue,$lt-blue, transparent);
            animation: theAnim 3.5s linear infinite;
            
        }
        .inner{
            position: absolute;
            width: 190px;
            height: 190px;
            overflow: hidden;
            z-index: 345;
            img{
                width: 100%;
            }
        }

    }
    .name{
        margin-top: 5px;
        h2{
            text-align: center;
            font-weight: 700;
        }
    }
    .informations{
        display: flex;
        flex-wrap: wrap;
        padding: 80px 0;
        justify-content: space-around;
        .personal-info{
            width: 45%;
            h3{
                font-weight: 600;
            }
            .icon{
                width: 35px;
                height: 35px;
                border-radius: 50%;
                justify-content: center;
                margin-right: 10px;
                box-shadow: 4px 4px 4px rgba(78, 114, 223, 0.3882352941), -4px -4px 4px $white;
                svg{
                    width: 50%;
                    fill: $blue;
                }
            }
            b{
                font-size: 18px;
            }
            .user-email{
                svg{
                    fill: $red;
                }
            }
            .phone-number{
                svg{
                    fill: $green;
                }
            }
            .id{
                svg{
                    fill: $gray;
                }
            }
            .edit-profile{
                button{
                    padding: 16px 35px;
                    border: none;
                    background: linear-gradient(to right bottom, $pinkish, $d-blue);
                    color: $white;
                    border-radius: 30px;
                    font-weight: 600;
                }
            }
            .user-level{
                svg{
                    fill: $pinkish;
                }
            }
            .user-percentage{
                svg{
                    fill: $purple;
                }
            }
            .user-group{
                svg{
                    fill: $d-blue;
                }
            }
        }
        .about-us{
            width: 45%;
            h3{
                font-weight: 600;
            }
            p{
                font-weight: 500;
            }
        }
    }
}
// profile page
  



// animation
@keyframes theAnim {
    0%   {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
  }
// animation

// Responsive

@media screen and (min-width: 701px) {
    nav{
        .mobile-nav{
            display: none;
        }
        .pc-nav{
            margin-right: 25px;
            ul{
                margin: 0;
                li{
                    padding: 3px;
                    z-index: 1;
                    list-style-type: none;
                    border-radius: 15px;
                    a{
                        inset: 12px;
                        display: block;
                        padding: 15px 15px;
                        transition: 1s;                 
                        color: $white;
                        border-radius: 4px;
                        &:hover{
                            background: linear-gradient(to right bottom, $lt-blue, $purple);
                            transform: scale(1.2);
                        }
                    }
                }
            }
            
        }
    }
}
@media screen and (max-width: 700px) {
    .pages{
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        background: $blue;
        ul{
            margin: 0 auto;
            padding: 0;
            justify-content: space-around;
            align-items: center;
            li{
                margin: 0;
                &:hover a::after{
                    box-shadow: -1px -10px $white;
                }
                &:hover a::before{
                    box-shadow: 1px -10px $white;
                }
                &:hover{
                    a{
                        transform: translateY(-35px);
                        background: linear-gradient(to right bottom, $pinkish, $d-blue);
                        border: 6px solid $white;
                    }
                } 
                a{
                    position: relative;
                    display: flex;
                    width: 70px;
                    height: 70px;
                    justify-content: center;
                    border-radius: 50%;
                    transition: 0.2s ease-out;                 
                    svg{
                        width: 25px;
                        fill: $white;
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        background: transparent;
                        width: 20px;
                        height: 20px;
                        top: 50%;
                        left: -22px;
                        border-top-right-radius: 20px;
                        transition: 0.4s;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        background: transparent;
                        width: 20px;
                        height: 20px;
                        top: 50%;
                        right: -22px;
                        border-top-left-radius: 20px;
                        transition: 0.7s;
                    }
                    &:hover::after{
                        box-shadow: -1px -10px $white;
                    }
                }
            }
        }
    }
    .informations{
        width: 90%;
        margin: auto;
        .personal-info, .about-us{
            width: 100% !important;
            margin-bottom: 50px;
        }
    } 
    .pc-nav{
        display: none;
      }
    .mobile-nav{
        display: block;
    }
}
// Responsive

// common setup
